@import '../variables.scss';

.board-setup {
  flex: 1 1;
}

.board-setup__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
  border-bottom: 1px solid $dark-purple;
}

.board-setup__heading-text {
  font-family: $primary-font-bold;
  font-size: $primary-font-size;
  color: $primary-font-color;
  text-transform: uppercase;
  letter-spacing: 0.265rem;
  margin: 0;
}

.board-setup__config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 913px;
}


.board-setup__play {
  width: 342px;
  height: 341px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-setup__play .button {
  padding: 19px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}