@import '../variables.scss';

.button--small {
  padding: 7px 14px;
  border: 1px solid var(--white);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color $medium;
}

.button__text--small {
  font-family: $primary-font-bold;
  font-size: $secondary-font-size;
  color: var(--primary-font-color);
  text-transform: uppercase;
  letter-spacing: 0.265rem;
  text-align: center;
  transition: color $medium;
}

.button--small:hover {
  background-color: var(--white);

  .button__text--small {
    color: var(--black);
  }
}

.button--favourites {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}