@import '../variables.scss';

.button--label {
  padding: 19px 35px;
  margin-top: 30px;
  border: 1px solid var(--white);
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color $medium;
}

.button--label:hover {
  background-color: var(--lighter-purple);
}

.button__text--label {
  font-family: $primary-font-bold;
  font-size: $primary-font-size;
  color: var(--primary-font-color);
  text-transform: uppercase;
  letter-spacing: 0.265rem;
  text-align: center;
}