@import '../variables.scss';

.carousel-container {
  width: 847px;
  height: 421px;
  border-bottom: 1px solid $darker-purple;
}

.carousel__browser {
  width: 847px;
  height: 422px;
  border-bottom: 1px solid $darker-purple;
  background-color: $dark-purple;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel__browser-image-container {
  height: 330px;
  overflow: hidden;
  position: absolute;
}

.carousel__image {
  width: 330px;
  height: 330px;
  // margin: 0 7px;
}

.carousel__image--selected {
  transform: none;
}

.alice-carousel {
  padding: 11px 0;
}

.alice-carousel__stage-item {
  display: inline-flex !important;
  justify-content: center !important;
  perspective: 1000px;
  .carousel__image {
    transition: transform $short;
  }
}

.alice-carousel__stage-item.__prev {
  .carousel__image {
    transform: scale(0.9) rotateY(-20deg);
  }
}

.alice-carousel__stage-item.__active {
  .carousel__image {
    transform: rotateY(0deg);
  }
}

.alice-carousel__stage-item.__next {
  .carousel__image {
    transform: scale(0.9) rotateY(20deg);
  }
}

.carousel__grid-overlay {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 11px;
  left: 258px;
  box-sizing: border-box;
  // border: 5px solid $blue;
}

// Appear Transition Classes:
.carousel__grid-overlay-grid--appear {
  opacity: 0;
}

.carousel__grid-overlay-grid--appear-active {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.carousel__grid-overlay-grid--appear-done {
  opacity: 1;
}

// Enter Transition Classes: 
.carousel__grid-overlay-grid--enter {
  opacity: 0;
}

.carousel__grid-overlay-grid--enter-active {
  opacity: 1;
  transition: opacity 75ms ease-in-out;
}

.carousel__grid-overlay-grid--enter-done {
  opacity: 1;
}

// Exit Transition Classes:
.carousel__grid-overlay-grid--exit {
  opacity: 1;
}

.carousel__grid-overlay-grid--exit-active {
  opacity: 0;
  transition: opacity 75ms ease-in-out;
}

.carousel__grid-overlay-grid--exit-done {
  opacity: 0;
}

.carousel__browser-panel {
  width: 847px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  background-color: $light-purple;
}

.carousel__button {
  width: 212px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color $medium;
}

.carousel__button:hover {
  background-color: $lighter-purple;
}

.carousel__file-name {
  width: 423px;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid $darker-purple;
  border-right: 1px solid $darker-purple;
}

.carousel__file-name-text {
  font-family: $primary-font-bold;
  font-size: $primary-font-size;
  color: $primary-font-color;
  letter-spacing: 0.265rem;
  text-align: center;
  margin: 0;
}