@import '../variables.scss';

.favourites {
  flex: 1;
  box-sizing: border-box;
  height: 942px;
  border: 1px solid var(--lighter-purple);
}

.favourites__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.favourites__heading-text {
  font-family: $primary-font-bold;
  font-size: $primary-font-size;
  color: var(--primary-font-color);
  text-transform: uppercase;
  letter-spacing: 0.265rem;
  margin-top: 14px;
  margin-bottom: 0;
}