@import '../variables.scss';

.file-info {
  width: 342px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.file-info__file-name,
.file-info__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-info__file-name-title,
.file-info__rating-title {
  user-select: none;
}

.file-info__file-name-title,
.file-info__rating-title,
.file-info__file-name-text {
  font-family: $primary-font-bold;
  font-size: $primary-font-size;
  color: var(--primary-font-color);
  letter-spacing: 0.265rem;
  margin: 0;
}

.file-info__file-name-title,
.file-info__rating-title {
  width: 115px;
  text-transform: uppercase;
}

.file-info__file-name-text,
.file-info__rating-stars {
  margin-left: 10px;
}

.file-info__file-name-text {
  width: 218px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.file-info__rating-star {
  margin-right: 5px;
}

.file-info__rating-star:last-child {
  margin-right: 0px;
}

.file-info__favourite-indicator {
  height: 30px;
}