@import '../variables.scss';

.my-profile {
  padding: 20px;
  max-width: 1359px;
  min-width: 1232px;
}

.my-profile__card {
  box-sizing: border-box;
  width: 363px;
  height: 942px;
  border: 1px solid $lighter-purple;
  margin-right: 20px;
}

.my-profile__favourites {
  box-sizing: border-box;
  flex-grow: 1;
  height: 942px;
  border: 1px solid $lighter-purple;
}