@import '../variables.scss';

.preview {
  width: 847px;
  height: 984px;
  border-right: 1px solid var(--dark-purple);
}

.preview__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
  border-bottom: 1px solid var(--dark-purple);
}

.preview__heading-text {
  font-family: $primary-font-bold;
  font-size: $primary-font-size;
  color: var(--primary-font-color);
  text-transform: uppercase;
  letter-spacing: 0.265rem;
  margin: 0;
}