@import '../variables.scss';

.scroller {
  width: 17px;
  height: 790px;
  background-color: var(--lighter-purple);
  border-radius: 20px;
  position: relative;
  margin-left: 10px;
}

.scroller__thumb {
  width: 15px;
  // min-height: 10px;
  position: absolute;
  left: 1px;
  top: 1px;
  background-color: var(--darker-purple);
  border-radius: 20px;
}