@import '../variables.scss';

.scroller {
  width: 17px;
  height: 790px;
  background-color: $lighter-purple;
  border-radius: 20px;
  position: relative;
  margin-left: 10px;
}

.scroller__thumb {
  width: 15px;
  height: 40px;
  position: absolute;
  left: 1px;
  top: 1px;
  background-color: $darker-purple;
  border-radius: 20px;
}