@import '../variables.scss';

.upload {
  padding: 20px;
  height: 944px;
  background-color: $dark-purple;  
}

.upload__inner {
  border: 1px dashed #8F8F8F;
  height: 944px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload__center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.upload__title {
  font-family: $primary-font-bold;
  font-size: $primary-font-size;
  color: $primary-font-color;
  text-transform: uppercase;
  letter-spacing: 0.265rem;
  text-align: center;
  line-height: 2.5;
}

.upload__icon {
  margin: 40px 0;
  padding: 40px 132px;
  border: 5px dashed $grey;
}

.upload__icon--drag-over {
  background-color: $light-purple;
}