@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 1440px;
  height: 100vh;
}

// Utility classes:

.d-none {
  display: none;
}

.d-block {
  display: block;
}