@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 1440px;
  height: 100vh;
}

.topbar {
  width: 1440px;
  height: 40px;
  background-color: $light-purple;
  border-bottom: 1px solid $dark-purple;
}

.container {
  display: flex;
}

.sidebar {
  width: 80px;
  height: 984px;
  background-color: $light-purple;
  border-right: 1px solid $dark-purple;
  position: relative;
  transition: width 150ms;
}

.sidebar--open {
  width: 168px;

  .menu-open {
    display: none;
  }

  .menu-close {
    display: block;
  }

  .tab,
  .tab--selected {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.menu-open,
.menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.menu-close {
  display: none;
}

.tab {
  display: none;
  width: 168px;
  height: 164px;
}

.tab--selected {
  display: none;
  background-color: $dark-purple;
}

.tab__icon {
  margin-top: 31px;
}

.tab__title {
  font-family: $primary-font-bold;
  font-size: $primary-font-size;
  color: $primary-font-color;
  text-transform: uppercase;
  letter-spacing: 0.265rem;
  text-align: center;
  margin-top: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid $white;
  margin-top: 20px;
}

.main {
  width: 100%;
  height: 984px;
  background-color: $dark-purple;
}