// Colours:

$white: #FFFFFF;
$black: #000000;
$grey: #8F8F8F;
$dark-purple: #2A243A;
$darker-purple: #262034;
$light-purple: #3F3A4E;
$lighter-purple: #555061;
$gold: #BFAF80;
$dark-green: #32AB6A;
$light-green: #5AD392;
$neon-green: #39FF14;
$red: #EB5757;
$pink: #FB28C0;

// Fonts:

@font-face {
  font-family: 'Comfortaa-Bold';
  src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa-Regular';
  src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}

$primary-font-bold: 'Comfortaa-Bold';
$primary-font-regular: 'Comfortaa-Regular';

$primary-font-size: 12px;
$secondary-font-size: 10px;
$slider-font-size: 14px;

$primary-spacing: 0.265rem;

$primary-font-color: $white;

// Transitions:

$short: 100ms ease-in-out;
$medium: 200ms ease-in-out;